*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: var(--black-50);
  transition: 1s ease;

}

:root {
  --black-50: hsl(0, 12%, 5%);
  --black-100: hsl(0, 0%, 11%);
  --black-150: hsl(0, 15%, 7%);
  --light-45: hsl(0, 3.8%, 58.4%);
  --light-50: hsl(40, 3%, 42%);
  --light-100: hsl(180, 1.9%, 20.4%);
  --light-150: hsla(0, 0%, 20%, 0.907);
  --td-data:  rgb(239, 200, 100);
}
/*  To unify html font-size in all browsers.*/
html {
  font-size: 16px;
}

/* light mode */
body.light-mode,
.btnCover.light-mode {
  background: whitesmoke;
  transition: 1s ease;

}

.btnCover.light-mode {
  background: whitesmoke;
}

.searchSlice input.light-mode {
  border-bottom: 1.5px solid var(--light-45);
}

section input.light-mode,
.searchSlice input.light-mode:focus {
  color: black;
}

select.light-mode {
  background: whitesmoke;
}
.switcher.light-mode svg {
  color: var(--black-100);
}
header h1.light-mode {
  color: var(--light-100);
}

.textData select.light-mode {
  background: rgb(236, 231, 231);
  color: black;
}

.categoryContainer.light-mode,
.brandContainer.light-mode,
.modelContainer.light-mode,
.priceContainer.light-mode,
.taxContainer.light-mode,
.discountContainer.light-mode,
.itemsNumContainer.light-mode {
  border: 2px solid var(--light-45);
  color: var(--light-50);
}

#total.light-mode {
  border: 2px solid var(--light-45);
  color: var(--black-150);
}

.priceContainer svg.light-mode,
.taxContainer svg.light-mode,
.discountContainer svg.light-mode,
.itemsNumContainer svg.light-mode {
  color: black;
}

#searchArrow1 svg.light-mode,
#searchArrow2 svg.light-mode{
  color: var(--light-150);
}

th.light-mode {
  color: hsl(0, 2%, 8%);
}
td.light-mode {
  color: var(--light-150);
}
.tableBtn.light-mode {
  background: var(--light-150);
}

#topBtn.light-mode{
  background: rgba(193, 179, 179, 0.765);
  color: var(--light-150);
}

/* The Container*/
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  padding: 2%;
  min-width: 768px;
  font-family: Helvetica, Arial, sans-serif;
}

/* The Header   */
header {
  padding: 0.8em 0;
  text-align: center;
  position: relative;
  margin: 0 0 3% 0;
}

header h1 {
  color: hsl(0, 0%, 70%);
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-family: "Old Standard TT", serif;
  font-size: 3em;
}

header svg {
  color: #fff;
  font-size: 1.5em;
  cursor: pointer;
}
header .switcher {
  position: absolute;
  right: 3%;
  top: 18%;
}
/* Section  */
section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
}

/* input slice*/
.inputFields {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  text-transform: capitalize;
}

.categoryContainer,
.brandContainer,
.modelContainer {
  width: 90%;
  position: relative;
  color: white;
  font-size: 1.2em;
  border: 2px outset white;
  border-radius: 1em;
  display: flex;
  align-items: center;
  padding: 1% 2%;
  font-family: Helvetica, sans-serif;
  justify-content: space-between;
}

.categoryContainer select,
.brandContainer select {
  display: block;
  -webkit-appearance: none;
  appearance: none;
  width: -moz-fit-content;
  width: fit-content;
  color: white;
  outline: none;
  text-align: center;
  font-size: 0.855em !important;
  text-transform: capitalize;
  border: 1px solid transparent;
  border-radius: 1rem;
  padding: 0.2rem;
  background: hsla(0, 0%, 20%, 0.906);
  cursor: pointer;
}



input {
  display: block;
  text-align: center;
  display: inline-flex;
  width: 90%;
  color: white;
  height: 2em;
  border-radius: 1rem;
  outline: none;
  border: none;
  text-transform: capitalize;
  background: transparent;
}

.textData {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  gap: 1em;
  margin-bottom: 1.5em;
}

.numbersData {
  display: flex;
  flex-direction: row;
  margin-bottom: 1.5em;
  gap: 1em;
  padding: 0 3%;
}


.priceContainer,
.taxContainer,
.discountContainer,
.itemsNumContainer {
  width: 80%;
  position: relative;
  color: white;
  font-size: 1.2em;
  border: 2px outset white;
  border-radius: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Helvetica, sans-serif;
  position: relative;
  padding: 0.3% 0;
}

.btnCover {
  background: var(--black-50);
  width: 13%;
  height: 60%;
  position: absolute;
  right: 3%;
  pointer-events: none;
}

.priceContainer svg,
.taxContainer svg,
.discountContainer svg,
.itemsNumContainer svg {
  position: absolute;
  right: 7%;
  color: white;
  font-size: 1.1rem;
  font-weight: 700;
  pointer-events: none;
  cursor: pointer;
}

#total {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  color: white;
  font-size: 1.1em;
  border: 2px outset white;
  border-radius: 1em;
  padding: 0.5em 0.3em 0.3em;
  font-family: Helvetica, sans-serif;
  margin: 0.5% auto 1%;
  cursor: pointer;
}

#total span {
  font-size: 1.4em;
  font-weight: 800;
}

/* Buttons slice */
.buttonsSlice {
  width: 90%;
  min-height: 15%;
  padding: 1%;
  margin: 0 0 1.5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1em;
}

.buttonsSlice button {
  display: block;
  color: white;
  width: 38%;
  border: 1px solid transparent;
  border-radius: 0.8rem;
  text-transform: capitalize;
  font-weight: 500;
  font-size: 1.1rem;
  padding: 0.9% 0;
  margin: 0.35em 0;
  background-color: hsla(0, 0%, 20%, 0.907);
  cursor: pointer;
}

.buttonsSlice #submit {
  margin-top: 0;
}

.buttonsSlice #clearBtn {
  margin-bottom: 0;
  display: none;
}

.buttonsSlice button:hover {
  border: 1px solid hsl(0, 0%, 96%);
  outline: 0;
  border-radius: 0.8rem;
}

.buttonsSlice button:focus-visible {
  outline: none;
}

.buttonsSlice button.light-mode:hover {
border: 1px solid transparent;
}

/* Search inputs slice*/
.searchSlice {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 2%;
  position: relative;
}

.searchSlice input {
  border-bottom: 1px solid white;
  border-radius: 0;
  margin-bottom: 2.5%;
  width: 30%;
  display: block;
}

.searchSlice input:focus {
  border-bottom: 2px solid hsl(36, 79%, 66%);
  color: hsl(33, 100%, 88%);
}

#searchArrow1 svg,
#searchArrow2 svg {
  color: rgb(214, 168, 50);
  font-size: 1.285em;
  position: absolute;
  right: 34.2%;
}

#searchArrow1 svg {
  top: 7%;
}

#searchArrow2 svg {
  bottom: 29%;
}
.searchSlice #searchArrow1,
#searchArrow2{
  display: none;
  cursor: pointer;
}

/* Table */
.tableOutput {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  padding: 0 5%;
  position: relative;
}
table {
  width: 100%;
  padding: 0 2%;

}

th {
  font-size: 1.2em;
  font-weight: 600;
  text-align: center;
  color: white;
  padding: 0.1em;
  text-transform: capitalize;
}

td {
  padding: 0.7rem;
  text-align: center;
  color: rgb(214, 168, 50);
  font-size: 1.1em;
  font-weight: 600;
  text-transform: capitalize;
}


/* Buttons "Delete & Update" */
.tableBtn {
  color: white;
  background: var(--light-100);
  font-size: 0.9em;
  padding: 0.3rem 0.4rem;
  cursor: pointer;
  border-radius: 0.6rem;
  text-transform: capitalize;
}

/*  Go to top button */
@keyframes btnBouncing {
  0% {
  bottom: 7%;
  }
  50%{
    bottom: 9;
  }
  100%{
    bottom: 11%;
  }
}

#topBtn{
  color: rgb(206, 158, 37);
  font-size: 1.1em;
  font-weight: 800;
   position: fixed;
  left: 4%;
  bottom: 16%;
  background: rgba(234, 210, 210, 0.281);
 height: 3%;  
 width: 3%;
 padding: 5px;
 border-radius: 50%;
 display: flex;
 justify-content: center;
 align-items: center;
 cursor: pointer;
animation-name: btnBouncing;
-webkit-animation-name: btnBouncing;
animation-duration: 2s;
-webkit-animation-duration: 2s;
-webkit-animation-delay: 1.5;
animation-delay: 1.5s;
animation-iteration-count: 1;
-webkit-animation-iteration-count: 2;
animation-fill-mode: both;
-webkit-animation-fill-mode: both;
visibility: hidden;
padding: 0.7%;
}
